#follow {
  z-index: 10;
  .placeholder {
    padding: 5px 10px;
    flex-direction: column;
    .line {
      width: 100%;
      margin: 4px 0;
    }
  }
  .follow-header {
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    span {
      font-size: 16px;
      text-transform: capitalize;
    }
    &:hover,
    &:focus {
      outline: none;
    }
    .mdc-icon-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .mdc-dialog__surface {
    min-width: 400px;
    @media (max-width: 400px) {
      min-width: auto;
    }
  }
  .mdc-dialog__content {
    min-height: 200px;
    display: block;
    overflow-y: scroll;
    padding: 0;
  }
  .mdc-dialog__container {
    max-height: 400px;
  }
  .follow-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    .people {
      display: flex;
      flex-direction: column;
      padding: 8px 16px;
    }
    .people-container {
      flex-direction: row;
      justify-content: space-between;
    }
    .people-info {
      text-align: center;
      flex: 1 1 100px;
      overflow: hidden;
      flex-direction: row;
    }
    .follow-avatar {
      align-self: center;
      flex: none;
      margin: 4px;
      margin-right: 13px;
    }
    .avatar-picture {
      width: 30px;
      height: 30px;
      flex: 0 0 auto;
      overflow: hidden;
      position: relative;
      display: block;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &::after {
        border: 1px solid rgba(0, 0, 0, 0.0975);
        border-radius: 50%;
        bottom: 0;
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .text {
      justify-content: center;
      flex-direction: column;
      min-width: 70px;
      flex: 1;
    }
    .text-username {
      a {
        font-family: "Roboto";
        font-weight: 500;
        color: #282828;
        font-size: 14px;
        line-height: 18px;
        i.verified {
          font-size: 14px;
          vertical-align: middle;
          margin-left: 3px;
          padding-bottom: 3px;
        }
      }
    }
    .text-name {
      color: #8e8e8e;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .null-avatar {
      background: #212121;
      border-radius: 50%;
      color: #fff;
      line-height: 30px;
    }
  }
}
