.app {
  margin-top: 54px;
  margin-bottom: 60px;
  padding: 1rem 1rem;
}
.app .Calendar {
  margin-left: auto;
  margin-right: auto;
}
.spinner-border-sm {
  border-width: 1px;
}
.tox-notifications-container,
.tox-statusbar {
  display: none !important;
}
