body,
#root {
  background-color: #f4f6f8;
  // height: 1500px;
}
button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  &:hover,
  &:focus {
    outline: none;
  }
}
a {
  color: #a9b0bb;
}
