.follow-notification {
  border-radius: 8px;
  height: 36px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 14px;
  &.new {
    &::after {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: #fa6c51;
      content: "";
      position: absolute;
      right: 10px;
      top: 14px;
    }
  }
  .user-follow-name {
    font-size: 13px;
    span {
      font-weight: 700;
    }
  }
  .user-follow-avatar {
    .avatar {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .avatar-placeholder {
      text-align: center;
      height: 36px;
      width: 36px;
      background: #fff;
      line-height: 36px;
      border-radius: 50%;
      color: #898989;
      font-weight: 400;
    }
    margin-right: 15px;
  }
  .user-follow-date {
    font-size: 12px;
    color: #898989;
  }
}
.notification {
  a {
    color: unset;
    &:hover,
    &:focus {
      .follow-notification {
        background: rgba(0, 0, 0, 0.03);
      }
      text-decoration: none;
    }
  }
}
