.settings-container {
  padding: 10px;
  #settings-tab {
    max-width: 680px;
    margin: 0 auto;
    .mdc-tab__text-label {
      font-size: 12px;
    }
    .mdc-tab {
      padding-left: 12px;
      padding-right: 12px;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
