.settings-container {
  padding: 10px;
  #settings-tab,
  #settings-container {
    max-width: 680px;
    margin: 0 auto;
    .mdc-tab__text-label {
      font-size: 12px;
    }
    .mdc-tab {
      padding-left: 12px;
      padding-right: 12px;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .notice {
    font-size: 14px;
    color: #898989;
    margin: 20px 0;
    display: flex;
  }
}
#settings-container,
.reset-password {
  .input-container {
    padding: 0 80px;
    .mdc-text-field--textarea {
      margin: 15px auto 10px auto;
    }
  }
  .action {
    padding: 0 80px;
    div {
      display: flex;
      justify-content: space-between;
      max-width: 90%;
      margin: 0 auto;
      span {
        line-height: 36px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #settings-container .input-container {
    padding: 0;
    .mdc-text-field,
    .mdc-text-field-helper-text {
      max-width: unset;
      width: unset;
    }
  }
  #settings-container {
    .action {
      padding: 0;
      div {
        max-width: unset;
        margin: unset;
      }
    }
  }
  .settings-container {
    padding: 10px 20px;
  }
  .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
    max-width: unset !important;
  }
}
#gender-select-info {
  .mdc-menu-surface--open {
    left: unset !important;
    left: 20% !important;
    @media (min-width: 360px) {
      width: 280px;
    }
    @media (max-width: 1024px) {
      left: 5% !important;
    }
  }
}
.mdc-text-field--textarea {
  .mdc-floating-label {
    margin-left: 3px;
  }
}
.font-reset {
  font-weight: 400;
  font-size: 16px !important;
  color: black !important;
}
.email-action {
  flex-direction: column;
  justify-content: unset !important;
  margin: 0 !important;
  span.email-resend-status {
    line-height: normal !important;
    padding-left: 8px;
  }
}
// id verify
.id-verify {
  height: 150px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 150px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.verify-form {
  .action {
    padding: 24px !important;
    div {
      max-width: unset !important;
      margin: unset !important;
      justify-content: flex-end !important;
    }
  }
  button.clear-input {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 36px;
    width: 36px;
    font-size: 20px;
    padding: 8px;
    z-index: 1;
  }
  .mdc-layout-grid__cell {
    position: relative;
  }
}
