.project-item {
  // max-width: 165px;
  transition: box-shadow 0.1s;
  &:hover {
    a {
      text-decoration: none;
    }
    border-radius: 8px;
    backdrop-filter: blur(30px);
    box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .project-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: block;
    padding-top: 66.625%;
    width: 100%;
  }
  .project-detail {
    padding: 15px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    font-family: Rubik;
    .project-title {
      font-size: 14px;
      text-align: left;
      color: #424852;
    }
  }
  .status-info {
    .count {
      font-size: 14px;
      line-height: 1.21;
      color: #424852;
    }
    .text {
      font-size: 10px;
      line-height: 1.7;
      color: #a9b0bb;
    }
  }
  .project-divider {
    margin: 7px 0;
    width: 20px;
  }
}
.project-item-landscape {
  max-height: 110px;
  margin-top: 15px;
  a:hover {
    text-decoration: none;
  }
  .cover-container {
    position: relative;
    height: 110px;
    max-width: 110px;
    min-width: 110px;
  }
  .project-photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    display: block;
    padding-top: 100%;
  }
  .project-detail {
    max-height: 110px;
    width: 100%;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    background-color: #f4f6f8;
    font-family: Rubik;
    .project-title {
      font-size: 14px;
      text-align: left;
      color: #424852;
    }
  }
  .status-info {
    line-height: 17px;
    .count {
      font-size: 10px;
      color: #424852;
    }
    .text {
      font-size: 10px;
      line-height: 1.7;
      color: #a9b0bb;
    }
  }
}
