// index
#search {
  overflow-x: auto;
  font-family: Rubik;
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 15px;
  .search-input {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: #fa6c51;
    &::placeholder {
      font-size: 28px;
      color: #cad0d7;
      height: 30px;
    }
    &:focus {
      outline: none;
    }
  }
}
.scroll-lock {
  overflow: hidden;
}
.search-category {
  margin-top: 15px;
  padding: 15px;
  height: 70px;
  border-radius: 5px;
  background-color: #f4f6f8;
  position: relative;
  &:hover,
  &:focus {
    outline: none;
    background-color: #fa6c51;
    a {
      text-decoration: none;
    }
    svg path {
      fill: #fff !important;
    }
    .category-name,
    .category-count {
      color: #fff;
    }
    .category-count {
      opacity: 0.7;
    }
  }
}
.search-arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  top: 0;
  padding: 0 20px 0 15px;
  svg {
    height: 70px;
  }
}
.category-name {
  height: 16px;
  font-style: normal;
  line-height: 1.21;
  font-size: 14px;
  color: #424852;
}
.category-count {
  height: 14px;
  font-size: 12px;
  font-style: normal;
  line-height: 1.42;
  color: #a9b0bb;
}
.category-detail {
  padding: 5px 0 5px 20px;
}
.search-nav {
  .home-nav {
    background-color: #f4f6f8;
  }
}
// user
.search-user {
  font-family: Rubik;
  margin-top: 15px;
  height: 70px;
  border-radius: 10px;
  background-color: #f4f6f8;
  padding: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  .user-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .user-details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    padding: 4px 0;
    .user-name {
      font-size: 14px;
      line-height: 16px;
      color: #636c77;
    }
    .user-type {
      font-size: 12px;
      line-height: 16px;
      color: #a9b0bb;
    }
  }
  .user-arrow {
    line-height: 40px;
  }
  .user-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  a {
    display: flex;
    width: 100%;
    &:hover {
      color: #fa6c51;
      text-decoration: none;
    }
  }
}
.category-container {
  margin-top: 80px;
}
.search-container {
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.96);
  form {
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
