.sidebar {
  @media (max-width: 1024px) {
    display: none;
  }
  position: fixed;
  z-index: 1;
  top: 0;
  width: 70px;
  height: 100%;
  background-color: #171c1f;
  color: #c2b59b;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-image: url("../../assets/img/sidebar-background.png");
  background-size: 100% 100%;
  .sidebar-item {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid transparent;
    position: relative;
    border-image: linear-gradient(
      90deg,
      rgba(194, 181, 155, 1) 0%,
      rgba(194, 181, 155, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    border-image-slice: 1;

    &:hover,
    &:focus {
      background-color: rgba($color: #ffffff, $alpha: 0.1);
    }
    &:first-child {
      &:hover,
      &:focus {
        border-top-right-radius: 16px;
      }
      a {
        border-top-right-radius: 16px;
      }
    }
    &:last-child {
      &:hover,
      &:focus {
        border-top-right-radius: 16px;
      }
      a {
        border-bottom-right-radius: 16px;
      }
    }
    img {
      padding: 22px;
      height: 20px;
    }
    img.sidebar-avatar {
      height: 50px;
      width: 50px;
      padding: 8px;
      margin-top: 2px;
      border-radius: 50%;
    }
    a.active {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
    }
  }
  .item-about {
    position: absolute;
    bottom: 0;
    border: none;
    img {
      padding: 20px 18px;
    }
  }
}
.guest-action {
  cursor: pointer;
}
.temp-avatar {
  height: 55px;
  width: 55px;
  min-height: 55px;
  min-width: 55px;
  line-height: 55px;
  text-align: center;
  margin: 6px;
  font-size: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}

a.avatar-link {
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}
#profile-menu {
  left: 70px !important;
  top: 10px !important;
  .mdc-list-item {
    height: 36px;
  }
}
