.profile {
  padding: 1rem 1rem;
  width: 100%;
  background: #fff;
  font-family: Rubik;
  .profile-avatar .avatar-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 58px;
    width: 58px;
    border-radius: 50%;
  }
  .avatar-preview {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background: #f4f6f8;
    color: #000;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
  }
  .profile-name {
    font-size: 14px;
    line-height: 1.21;
    color: #636c77;
    max-width: 100px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profile-type {
    font-size: 12px;
    line-height: 1.42;
    color: #a9b0bb;
    text-transform: capitalize;
  }
  .profile-detail {
    max-height: 30px;
    line-height: 15px;
    padding: 10px 10px;
  }
  .profile-follow {
    display: flex;
    position: absolute;
    right: 15px;
    .follow {
      margin-left: 10px;
      width: 76px;
      height: 54px;
      border-radius: 5px;
      background-color: #f4f6f8;
      text-align: center;
      padding: 13px 5px;
      .count {
        font-size: 16px;
        line-height: 1.06;
        color: #424852;
      }
      .text {
        font-size: 10px;
        line-height: 1.7;
        color: #a9b0bb;
      }
    }
  }
  .profile-bio {
    font-size: 14px;
    line-height: 1.5;
    color: #636c77;
  }
  .profile-action {
    margin-top: 15px;
    text-align: center;
    line-height: 40px;

    a {
      font-size: 12px;
      height: 40px;
      border-radius: 5px;
      background-color: #f4f6f8;
      width: 100%;
      max-width: 380px;
      margin: 0 auto;
      &:hover {
        color: #fa6c51;
        text-decoration: none;
      }
    }
    span {
      background-color: #fa6c51;
      color: white;
      font-size: 12px;
      height: 40px;
      border-radius: 5px;
      max-width: 380px;
      margin: 0 auto;
      width: 100%;
      cursor: pointer;
      &.unfollow {
        background-color: #f4f6f8;
        color: #898989;
        font-weight: 500;
      }
    }
  }
  .profile-website {
    font-size: 12px;
    color: #fa6c51;
  }
}
.profile-project {
  .project-detail {
    background: #fff;
  }
}
.modal-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 16px;
  color: grey;
  z-index: 1;
  height: 30px;
  width: 30px;
}
.auth-action {
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: #898989;
    border-color: #898989;
  }
}
