.profile-container {
  .profile-cover {
    background-image: url("../../assets/img/cover.jpg");
    height: 28vh;
    @media (min-width: 1024px) {
      height: 300px;
    }
    position: relative;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(transparent -30%, #121212);
    }
  }
}
.profile-image {
  display: flex;
  justify-content: center;
  .avatar-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
.calendar-open .Calendar__weekRow {
  display: flex !important;
}
.calendar {
  position: relative;
  width: 450px;
  padding-top: 80px;
  background: #f3f3f3;
  border-top-right-radius: 20px;
  @media (max-width: 1024px) {
    width: auto;
    padding-top: 0;
    .Calendar__weekRow {
      display: none;
      &.row-mobile {
        display: flex;
      }
    }
  }
  .Calendar {
    margin: 0 auto;
    box-shadow: none;
    background: transparent;
  }
  .Calendar__section {
    padding: 0 3.3em;
  }
  .Calendar__day.-selected,
  .Calendar__day.-selectedStart,
  .Calendar__day.-selectedEnd {
    background: #00000047;
    color: #000;
  }
  .Calendar__weekDays {
    color: #717171;
  }
}
.information-container {
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
// profile
#profile {
  margin-left: -12px;
  .user {
    padding: 20px 60px;
    @media (max-width: 1024px) {
      display: none;
    }
    .name {
      font-size: 24px;
      line-height: 36px;
      font-family: "Gotham", "Roboto";
      display: flex;
      .badge {
        margin: 2px 0;
        display: flex;
        flex-direction: row;
        height: 32px;
        width: 32px;
      }
      .mdc-button {
        margin-left: 10px;
        text-transform: capitalize;
      }
    }
    .type {
      text-transform: capitalize;
      margin-top: 5px;
      color: #898989;
      font-size: 14px;
      font-family: "Gotham", "Roboto";
      font-weight: 400;
    }
  }
  .cover-profile {
    display: none;
    @media (max-width: 1024px) {
      display: grid;
      padding-top: calc(20vh - 14vh);
      .mobile-name {
        text-align: center;
        color: #fff;
        z-index: 1;
        margin: 10px 0;
      }
      .avatar-img {
        max-width: 100px;
        border-radius: 50%;
        z-index: 1;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .avatar-placeholder {
        min-width: 100px;
        border-radius: 50%;
        height: 100px;
        z-index: 1;
        background: #000;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
      }
    }
  }
}
.info-container {
  display: none;
  @media (min-width: 1024px) {
    display: unset;
    width: calc(100% - 450px);
  }
}
.info-browser {
  flex-direction: row;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  .info-item {
    padding: 5px 20px;
    &:first-child {
      margin-left: 40px;
    }
    &.active {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
    img {
      width: 40px;
      height: 40px;
    }
    p {
      margin: 5px 0;
      text-align: center;
      color: #010101;
      font-size: 14px;
    }
  }
}
// calendar mobile
@media (max-width: 1024px) {
  .calendar-closed {
    .Calendar {
      min-height: 120px;
      .Calendar__sectionWrapper {
        min-height: 38px;
      }
    }
  }
}
// fab
.fab-container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  .mdc-fab {
    background-color: #c2b59b;
  }
}
.expand {
  color: #898989 !important;
  @media (min-width: 1024px) {
    display: none !important;
  }
}
.emp-avatar {
  top: -23%;
  position: absolute;
  border-radius: 50%;
  max-width: 200px;
  border: 1px solid transparent;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 50px;
  background: #000;
  color: #fff;
  @media (max-width: 1024px) {
    display: none;
  }
}
.follow {
  margin-top: 10px;
  padding: 0;
  margin-bottom: 0;
  flex-direction: row;
  display: flex;
  li {
    font-size: 16px;
    margin-right: 40px;
    p {
      cursor: pointer;
      span {
        font-family: "Roboto";
        font-weight: 500;
      }
    }
  }
}
#cal .Calendar {
  z-index: 8;
}
// profile image update
.emp-avatar,
.avatar-img {
  .edit-image {
    display: none;
  }
  &:hover {
    .edit-image {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      font-size: 12px;
      background-color: rgba(65, 63, 63, 0.8);
      border-radius: 50%;
      color: white;
      font-weight: 600;
      line-height: 200px;
      cursor: pointer;
    }
  }
  .edit-image-error.edit-image {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 12px;
    background-color: rgba(65, 63, 63, 0.8);
    line-height: 200px;
    border-radius: 50%;
    color: red;
    font-weight: 500;
    font-family: "Roboto";
    cursor: pointer;
    &.loading {
      color: white;
    }
  }
}
#profile-edit {
  opacity: 0;
  display: none;
}
