.header {
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 1;
}
.nav-container {
  flex: 1;
  justify-content: space-between;
  display: flex;
}
.brand-name {
  color: #fa6c51;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.1px;
}
.nav-action {
  padding: 0;
  img {
    &:hover,
    &:focus {
      filter: invert(55%) sepia(67%) saturate(2552%) hue-rotate(329deg)
        brightness(103%) contrast(96%);
    }
  }
}
.brand-link {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
