.header {
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 1;
}
.nav-container {
  flex: 1;
  justify-content: space-between;
  display: flex;
}
.brand-name {
  color: #fa6c51;
  line-height: 28px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.1px;
}
.nav-action {
  padding: 0;
  img {
    &:hover,
    &:focus {
      filter: invert(55%) sepia(67%) saturate(2552%) hue-rotate(329deg)
        brightness(103%) contrast(96%);
    }
  }
}
.brand-link {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
// drawer
.mdc-drawer--modal {
  top: 0;
}
.drawer-header {
  height: 54px;
  margin-bottom: 20px;
  background: #f4f6f8;
}
.drawer-content {
  &:focus {
    outline: none;
  }
}
.drawer-link {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 120px);
  a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;
    padding-left: 16px;
    text-decoration: none;
    font-family: Roboto;
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.03);
    }
    &.active {
      color: #000;
      background: #f4f6f8;
      font-weight: 500;
    }
  }
}
.drawer-profile {
  padding: 9px 16px;
  .drawer-avatar {
    height: 36px;
    width: 36px;
    line-height: 36px;
    color: #898989;
    text-align: center;
    border-radius: 50%;
    background: white;
  }
  .drawer-user-info {
    padding: 3px 16px;
    .user-name {
      font-size: 14px;
      line-height: 1.21;
      color: #636c77;
      max-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 155px;
    }
    .user-type {
      font-size: 12px;
      line-height: 1.42;
      color: #a9b0bb;
      text-transform: capitalize;
    }
  }
}
.drawer-loader {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.drawer-signin {
  padding: 16px 16px;
  display: flex;
  font-weight: 500;
  color: black;
  font-size: 15px;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #898989;
  }
}
.mdc-drawer-app-content,
.drawer-content {
  height: 100%;
}
