.bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.96);
  border-top: 1px solid #e4e8eb;
  z-index: 2;
}
.bottom-nav-item {
  display: flex;
  justify-content: center;
  height: 56px;
  position: relative;
  object {
    pointer-events: none;
  }
  &.active {
    filter: invert(55%) sepia(67%) saturate(2552%) hue-rotate(329deg)
      brightness(103%) contrast(96%);
    &:before {
      content: "";
      position: absolute;
      top: -1px;
      width: 100%;
      border-top: 1px solid #fa6c51;
      display: block;
    }
  }
}
