.create-project {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  max-width: 72rem;
  width: 100%;
  padding-top: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 14px;
  margin-bottom: 70px;
  @media print, screen and (min-width: 48em) {
    padding-bottom: 1.5rem;
    width: 58.33333%;
    margin-left: 8.33333%;
  }
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  .form-group {
    margin-bottom: 0.625rem;
  }
  a {
    color: #fa6c51;
  }
  .project-create-btn {
    max-width: 380px;
    margin: 0 auto;
    &.btn-secondary {
      background: transparent;
      color: #fa6c51;
      font-weight: 500;
      border: 1px solid #fa6c51;
      &:hover,
      &:focus,
      &:active {
        background: #eaeaea !important;
        color: #fa6c51 !important;
        border: 1px solid #fa6c51 !important;
      }
    }
    border-radius: 10px;
    min-height: 48px;
    font-size: 18px;
    font-weight: 600;
    background: #fa6c51;
    border: none;
    &:hover,
    &:focus {
      background: #fb8772 !important;
      outline: none;
      box-shadow: none !important;
    }
  }
  .terms {
    font-size: 14px;
    a {
      color: #fa6c51;
    }
  }
  .project-cover {
    cursor: pointer;
    height: 150px;
    background: #9999;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    span.material-icons {
      font-size: 32px;
      color: #898989;
    }
  }
}
// project cover
.mc-tile {
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.mc-tile--16x9:before,
.mc-tile--widescreen-video:before {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  content: "";
}
.mc-tile__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mc-tile__component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mc-tile-image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.mc-background.mc-background--position-y-center
  .mc-background__background-container,
.mc-background.mc-background--position-y-center
  .mc-background__content-container {
  align-items: center;
}

.mc-background.mc-background--position-x-center
  .mc-background__background-container,
.mc-background.mc-background--position-x-center
  .mc-background__content-container {
  justify-content: center;
}
.mc-background--fit-container .mc-background__background-container,
.mc-background--fit-content .mc-background__background-container {
  position: absolute;
  left: 0;
  top: 0;
}
.mc-background--loaded .mc-background__background-container {
  visibility: visible;
}
.mc-background__background-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

.mc-background--size-cover .mc-background__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
// mce
.tox-tinymce {
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 2px !important;
}
.project-row {
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
}
.medium-10 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  @media print, screen and (min-width: 48em) {
    width: 83.33333%;
    margin-right: auto;
    margin-left: auto;
  }
}
.project-title {
  font-size: 1.25rem;
  margin-bottom: 1.625rem;
  @media print, screen and (min-width: 60em) {
    font-size: 1.75rem;
    margin-bottom: 1.625rem;
  }
}
.create {
  margin-top: 10px;
  margin-bottom: 75px;
}
.project-profit {
  font-size: 16px;
}
.youtube-modal {
  margin: 0;
  max-width: unset;
  height: 100%;
  width: 100%;
  .modal-dialog {
    height: 100%;
  }
  .modal-content {
    border: none;
    height: 100%;
    border-radius: 0;
  }
}
.verify-email {
  a {
    color: #fa6c51;
    font-size: 12px;
  }
  span.material-icons {
    font-size: 36px;
  }
}
// editor{
#editor_js {
  padding-top: 25px;
  font-size: 16px;
  a {
    color: blue;
  }
}
