.login-container {
  padding: 10px;
  position: relative;
}
@media (min-width: 410px) {
  .login {
    width: 360px;
  }
}
@media (max-width: 410px) {
  .logo {
    padding: 0 !important;
    img {
      width: 180px !important;
    }
  }
}
.close-auth-dialog {
  position: absolute !important;
  right: 10px !important;
  &.mdc-icon-button::before,
  &.mdc-icon-button::after {
    background-color: #fff !important;
  }
}
// register
.register .header-avatar {
  border-radius: 4px;
}
.register {
  width: 360px;
  padding: 0 10px 10px 10px;
}
.register-input {
  .input-container {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  select {
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  .input-container select {
    cursor: pointer;
  }
  .input-container input,
  .input-container select {
    height: 40px;
    padding: 0 50px;
    color: #000;
    background: transparent;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &::-webkit-input-placeholder {
      color: rgb(22, 22, 22);
    }
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      outline: none;
    }
  }
}
.avatar {
  display: none;
}
.register-submit {
  padding: 0 10px;
  button {
    color: #fff;
  }
}
@media (max-width: 410px) {
  .register {
    width: 100%;
    padding: 0;
  }

  .mdc-dialog .mdc-dialog__surface {
    width: 100%;
  }
  .mdc-dialog--open .mdc-dialog__container {
    width: 90%;
  }
}
// login
$base-color: #c3b59b;
.login {
  background-color: rgb(12, 3, 4);
  width: 100%;
  color: #fff;
  .login-container {
    height: 100%;
    background-color: rgb(12, 3, 4);
  }
  @media (min-width: 450px) {
    .login-container {
      max-width: 450px;
      margin: 0 auto;
    }
    .logo {
      height: 30%;
      img {
        margin: auto;
      }
    }
  }
  .action-container {
    padding: 5px 40px;
  }
  .forgot {
    font-size: 14px;
    float: right;
  }

  .social {
    margin-top: 30px;
    text-align: center;
  }
  .social-link {
    margin-top: 15px;
    button {
      cursor: pointer;
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      margin: 0 15px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .singup {
    margin-top: 13px;
  }
}
.logo {
  padding: 60px;
  display: flex;
  justify-content: center;
  img {
    height: auto;
    width: 200px;
  }
}
.login-input-container {
  height: 40px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  input {
    height: 40px;
    padding: 0 50px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    &:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      outline: none;
    }
  }
}
.submit {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: $base-color;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.6px;
  &:hover,
  &:focus {
    background-color: #b9a785;
  }
}
#auth {
  z-index: 12;
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .mdc-text-field--with-trailing-icon .mdc-text-field__input {
    padding-left: 0;
  }
}
.header-label {
  margin-top: 82px;
  margin-bottom: 26px;
  text-align: center;
  font-size: 22px;
}
.register-header {
  position: absolute;
  height: 56px;
  width: 100%;
  top: 0;
  background: #000;
  color: #fff;
  right: 0;
  font-size: 24px;
  left: 0;
  span {
    line-height: 56px;
    margin-left: 20px;
    font-weight: 400;
  }
}
.register-container,
.settings-container {
  .mdc-text-field,
  .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
    max-width: 90% !important;
    margin: 0 auto;
    display: flex;
  }
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #000;
  }
  .mdc-text-field-helper-text {
    color: red;
  }
  .mdc-text-field:not(.mdc-text-field--disabled),
  .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
    background-color: transparent;
  }
  .mdc-text-field__input,
  .mdc-select--no-label:not(.mdc-select--outlined)
    .mdc-select__anchor
    .mdc-select__selected-text {
    padding-left: 0;
  }

  .mdc-text-field .mdc-floating-label {
    left: 0;
  }
  .mdc-menu-surface--open {
    left: 30px !important;
    @media (min-width: 360px) {
      width: 290px;
    }
  }
  .mdc-list-item {
    height: 36px;
  }
  .mdc-text-field-helper-text {
    width: 90%;
    margin: 0 auto;
  }
}
.action {
  p {
    text-align: center;
    margin: 20px 0;
  }
}
.mdc-select--focused .mdc-select__dropdown-icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='5px' viewBox='7 10 10 5' version='1.1'%3E%3Cpolygon id='Shape' stroke='none' fill='%236200ee' fill-rule='evenodd' opacity='1' points='7 10 12 15 17 10' style='&%2310; fill: black;&%2310;'/%3E%3C/svg%3E")
    no-repeat center !important;
}
.register-scrim {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.terms-text {
  text-align: center;
  font-size: 15px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 16px;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon {
  color: rgba(0, 0, 0, 0.54);
}

.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
  left: auto;
  right: 12px;
}
.mdc-text-field__icon:not([tabindex]),
.mdc-text-field__icon[tabindex="-1"] {
  cursor: default;
  pointer-events: none;
}
#password-show {
  cursor: pointer !important;
  pointer-events: unset !important;
  right: 0;
}
